# Arquivo de configuração de ambiente. Contém senhas e segredos!
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pasta de dependências do Node.js
node_modules

# Arquivos de sistema operacional
.DS_Store
Thumbs.db